.all,.pend,.comp{
    text-decoration: none;
}
.taskOne{

    width: 90%;
    height: 60vh;
    border: 1px solid black;
}
p{
    position: relative;
    top: 40%;
    left: 43%;
}
.taskOne{
    overflow: auto;
}