.spa{
    background-color: orange;
    padding: 3%;
    justify-content: center;
}
.card{
    width: 30vw;
    padding: 1%;
    position: relative;
    left: 10%;
}
input{
    border: none;
    border-bottom: 1px solid grey;
}
.cBox{
    display: block;
    width: 1vw;
}